##### Core scientific packages
jupyter==1.0.0
matplotlib==3.0.3
numpy==v1.17.0rc2
pandas==0.24.1
scipy==1.2.1

##### Machine Learning packages
scikit-learn==0.20.3

# Optional: the XGBoost library is only used in the ensemble learning chapter.
xgboost==0.82


##### Deep Learning packages

# Replace tensorflow with tensorflow-gpu if you want GPU support. If so,
# you need a GPU card with CUDA Compute Capability 3.0 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.
tensorflow==1.13.1
#tensorflow-gpu==1.13.1
